# Problem 1: 
Write a method that reads phone book records from a CSV or JSON file 
Each record consists of the following parameters Name, email, Phone 1, Phone 2.

In [1]:
import csv

In [3]:
def read_csv(file_path):
    """
    Reads a CSV file and returns the data as a list of dictionaries.
    
    Parameters:
        file_path (str): The path to the CSV file.
        
    Returns:
        list: A list of dictionaries where each dictionary represents a row in the CSV file.
    """
    data = []

    try:
        with open(file_path, 'r') as file:
            # Create a CSV reader object
            csv_reader = csv.DictReader(file)
            
            # Iterate through each row in the CSV file
            for row in csv_reader:
                # Append each row as a dictionary to the data list
                data.append(dict(row))
                
    except FileNotFoundError:
        print(f"Error: File not found at {file_path}")
    except Exception as e:
        print(f"Error reading CSV file: {e}")

    return data

# Call the function:
file_path = "C:\\Users\\HP\\Desktop\\files of sessions\\Vengage_Assessment\\phone_book_records.csv" # Path of CSV file from my pc
csv_data = read_csv(file_path)

# Display the read data
for row in csv_data:
    print(row)

{'Name': 'Karthika priyadharshini', 'Email': 'karthikapriya1@gmail.com', 'Phone 1': '8148642615', 'Phone 2': '6380278156'}
{'Name': 'Aradhana', 'Email': 'Aradhana25@gmail.com', 'Phone 1': '9367906789', 'Phone 2': '7809875345'}
{'Name': 'Parimala ', 'Email': 'parimala12@gmail.com', 'Phone 1': '8237569990', 'Phone 2': '8754907536'}
{'Name': 'Pranesh', 'Email': 'pranesh1895@gmail.com', 'Phone 1': '9944489573', 'Phone 2': '9786543568'}
{'Name': 'Baladhandapani', 'Email': 'bala1948@gmail.com', 'Phone 1': '8764904578', 'Phone 2': '9764285557'}
{'Name': 'Yuvaraj', 'Email': 'raj211984@gmail.com', 'Phone 1': '8629076622', 'Phone 2': '9788207652'}
{'Name': 'Shobana', 'Email': 'abc22@gmail.com', 'Phone 1': '9747734667', 'Phone 2': '7866695679'}
{'Name': 'John', 'Email': 'john12@gmail.com', 'Phone 1': '8546890343', 'Phone 2': '9123457899'}
{'Name': 'Roby', 'Email': 'roby34@gmail.com', 'Phone 1': '9765785767', 'Phone 2': '9567833988'}
{'Name': 'valli', 'Email': 'valli009@gmail.com', 'Phone 1': '8394002022', 'Phone 2': '9034758992'}
{'Name': 'savitha', 'Email': 'savi223@gmail.com', 'Phone 1': '8945459606', 'Phone 2': '9867333321'}

In [4]:
# Importing pandas for creating DataFrame
import pandas as pd

In [5]:
Phone_Records=pd.DataFrame(csv_data)
Phone_Records

                       Name                     Email     Phone 1     Phone 2
0   Karthika priyadharshini  karthikapriya1@gmail.com  8148642615  6380278156
1                  Aradhana      Aradhana25@gmail.com  9367906789  7809875345
2                 Parimala       parimala12@gmail.com  8237569990  8754907536
3                   Pranesh     pranesh1895@gmail.com  9944489573  9786543568
4            Baladhandapani        bala1948@gmail.com  8764904578  9764285557
5                   Yuvaraj       raj211984@gmail.com  8629076622  9788207652
6                   Shobana           abc22@gmail.com  9747734667  7866695679
7                      John          john12@gmail.com  8546890343  9123457899
8                      Roby          roby34@gmail.com  9765785767  9567833988
9                     valli        valli009@gmail.com  8394002022  9034758992
10                  savitha         savi223@gmail.com  8945459606  9867333321

# Problem 2:
Implement a SQL-like parser for phone book records in Problem 1 to implement CRUD
operations and print SQL like output on console.

# CONNECTION WITH MYSQL DATABASE & PYTHON

In [11]:
pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   ------------------ --------------------- 20.5/44.8 kB 222.6 kB/s eta 0:00:01
   --------------------------- ------------ 30.7/44.8 kB 262.6 kB/s eta 0:00:01
   --------------------------- ------------ 30.7/44.8 kB 262.6 kB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 kB 170.1 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
# Importing numpy and pymysql 
import numpy as np
import pymysql

In [7]:
# Connection between python and MySQL
myconnection = pymysql.connect(host = "127.0.0.1",user = "root",passwd = "Aradhana@2509")

In [8]:
cur = myconnection.cursor()

In [15]:
#Creating New Database
cur.execute("create database PhoneBook_Records");

In [9]:
cur.execute("use PhoneBook_Records");

In [10]:
# Makes connection with our Database Named : "PhoneBook_Records"
myconnection = pymysql.connect(host = "127.0.0.1",user = "root",passwd = "Aradhana@2509",database = "PhoneBook_Records");

In [11]:
cur = myconnection.cursor()

# CREATE TABLE

In [45]:
# Create table named Phone_Records
cur.execute("create table Phone_Records(Name varchar(50),Email varchar(50),Phone1 varchar(20),Phone2 varchar(20))")

0

# INSERT THE DATAFRAME(TABLE) FROM PYTHON TO DATABASE

In [46]:
# Inserts values into table named Phone_Records
sql="insert into Phone_Records(Name,Email,Phone1,Phone2)values(%s,%s,%s,%s)";

In [47]:
# Used loop condition for inserting rows from CSV file
for i in range(0,len(Phone_Records)):
    cur.execute(sql,tuple(Phone_Records.iloc[i]))
    myconnection.commit()
# Inserted successfully

# 2.1
SELECT * FROM phone_records; This statement reads the first 10 records and displays them
on the console.

In [47]:
# Displays only first 10 records from table
cur.execute("SELECT * FROM Phone_Records ORDER BY Name LIMIT 10");

In [48]:
# Used for loops for fetching first 10 rows
rows=cur.fetchall()
for row in rows:
    print(row)

('Aradhana', 'Aradhana25@gmail.com', '9367906789', '7809875345')
('Aravind', 'aravind784@gmail.com', '9412085334', '8342318888')
('Baladhandapani', 'bala1948@gmail.com', '8764904578', '9764285557')
('John', 'john12@gmail.com', '8761122208', '9123457899')
('Karthika priyadharshini', 'karthikapriya1@gmail.com', '8148642615', '6380278156')
('Parimala ', 'parimala12@gmail.com', '8237569990', '8754907536')
('Pranesh', 'pranesh1895@gmail.com', '9944489573', '9786543568')
('Roby', 'roby34@gmail.com', '9568738833', '9567833988')
('Shobana', 'abc22@gmail.com', '9747734667', '7866695679')
('valli', 'valli009@gmail.com', '8394002022', '9034758992')

# READ THE TABLE FROM DATABASE

# Tuple View

In [48]:
# Used loop condition for Reading the values got inserted(view in tuple)  - Table name :Phone_Records
for i in range(0,len(Phone_Records)):
    print(tuple(Phone_Records.iloc[i]))

('Karthika priyadharshini', 'karthikapriya1@gmail.com', '8148642615', '6380278156')
('Aradhana', 'Aradhana25@gmail.com', '9367906789', '7809875345')
('Parimala ', 'parimala12@gmail.com', '8237569990', '8754907536')
('Pranesh', 'pranesh1895@gmail.com', '9944489573', '9786543568')
('Baladhandapani', 'bala1948@gmail.com', '8764904578', '9764285557')
('Yuvaraj', 'raj211984@gmail.com', '8629076622', '9788207652')
('Shobana', 'abc22@gmail.com', '9747734667', '7866695679')
('John', 'john12@gmail.com', '8546890343', '9123457899')
('Roby', 'roby34@gmail.com', '9765785767', '9567833988')
('valli', 'valli009@gmail.com', '8394002022', '9034758992')
('savitha', 'savi223@gmail.com', '8945459606', '9867333321')

# View with index location & data type

In [49]:
# Used loop condition for Reading the values got inserted(index and datatype displayed) - Table name :Phone_Records
for i in range(0,len(Phone_Records)):
    print(Phone_Records.iloc[i])

Name        Karthika priyadharshini
Email      karthikapriya1@gmail.com
Phone 1                  8148642615
Phone 2                  6380278156
Name: 0, dtype: object
Name                   Aradhana
Email      Aradhana25@gmail.com
Phone 1              9367906789
Phone 2              7809875345
Name: 1, dtype: object
Name                  Parimala
Email      parimala12@gmail.com
Phone 1              8237569990
Phone 2              8754907536
Name: 2, dtype: object
Name                     Pranesh
Email      pranesh1895@gmail.com
Phone 1               9944489573
Phone 2               9786543568
Name: 3, dtype: object
Name           Baladhandapani
Email      bala1948@gmail.com
Phone 1            8764904578
Phone 2            9764285557
Name: 4, dtype: object
Name                   Yuvaraj
Email      raj211984@gmail.com
Phone 1             8629076622
Phone 2             9788207652
Name: 5, dtype: object
Name               Shobana
Email      abc22@gmail.com
Phone 1         9747734667
Phone 2         7866695679
Name: 6, dtype: object
Name                   John
Email      john12@gmail.com
Phone 1          8546890343
Phone 2          9123457899
Name: 7, dtype: object
Name                   Roby
Email      roby34@gmail.com
Phone 1          9765785767
Phone 2          9567833988
Name: 8, dtype: object
Name                    valli
Email      valli009@gmail.com
Phone 1            8394002022
Phone 2            9034758992
Name: 9, dtype: object
Name                 savitha
Email      savi223@gmail.com
Phone 1           8945459606
Phone 2           9867333321
Name: 10, dtype: object

# 2.2
SELECT * FROM phone_records WHERE name=’Test’; this statement filters the records and
displays the record(s) where ‘Test’ is found.

In [60]:
cur.execute('Select * FROM phone_records WHERE name= "Test"');

In [61]:
# Fetch the result
row = cur.fetchone()

# Check if the row exists
if row:
    print("Selected Row:", row)
else:
    print("Row not found.")
# Got the output which satisfies the condition and the row we have inserted in 2.3 problem

Selected Row: ('Test', 'test@test.xtyz', '1234456', '1233233')

# UPDATE COMMAND

In [22]:
cur.execute("UPDATE Phone_Records SET Phone1 = '8761122208'WHERE Name = 'John'");

In [23]:
myconnection.commit()

In [28]:
# After Update Check whether values got updated frome field Name : John
cur.execute("Select*from Phone_Records");

In [29]:
# Used for loops for fetching all rows
rows=cur.fetchall()
for row in rows:
    print(row)
# In the output ,  the values are updated in the given condition

('Karthika priyadharshini', 'karthikapriya1@gmail.com', '8148642615', '6380278156')
('Aradhana', 'Aradhana25@gmail.com', '9367906789', '7809875345')
('Parimala ', 'parimala12@gmail.com', '8237569990', '8754907536')
('Pranesh', 'pranesh1895@gmail.com', '9944489573', '9786543568')
('Baladhandapani', 'bala1948@gmail.com', '8764904578', '9764285557')
('Yuvaraj', 'raj211984@gmail.com', '8629076622', '9788207652')
('Shobana', 'abc22@gmail.com', '9747734667', '7866695679')
('John', 'john12@gmail.com', '8761122208', '9123457899')
('Roby', 'roby34@gmail.com', '9568738833', '9567833988')
('valli', 'valli009@gmail.com', '8394002022', '9034758992')
('savitha', 'savi223@gmail.com', '8761122208', '9867333321')

# INSERT COMMAND

# 2.3
INSERT INTO phone_records(name, email,phone 1, phone 2)
VALUES(‘Test’,’test@test.xtyz’,’1234456’,’1233233’)
This statement should create a new entry in the dataset and the same should be obtained
when execuNng secNon 2.2 (i.e. the previous example)

In [56]:
cur.execute("INSERT INTO Phone_Records(Name,Email,Phone1,Phone2) VALUES ('Test','test@test.xtyz','1234456','1233233');");

In [57]:
myconnection.commit()

In [58]:
cur.execute("Select*from Phone_Records");

In [59]:
# Used for loops for fetching all rows

rows=cur.fetchall()
for row in rows:
    print(row)
    
# In the output , the values are Inserted in the given condition

('Karthika priyadharshini', 'karthikapriya1@gmail.com', '8148642615', '6380278156')
('Aradhana', 'Aradhana25@gmail.com', '9367906789', '7809875345')
('Parimala ', 'parimala12@gmail.com', '8237569990', '8754907536')
('Pranesh', 'pranesh1895@gmail.com', '9944489573', '9786543568')
('Baladhandapani', 'bala1948@gmail.com', '8764904578', '9764285557')
('Yuvaraj', 'raj211984@gmail.com', '8629076622', '9788207652')
('Shobana', 'abc22@gmail.com', '9747734667', '7866695679')
('John', 'john12@gmail.com', '8761122208', '9123457899')
('Roby', 'roby34@gmail.com', '9568738833', '9567833988')
('valli', 'valli009@gmail.com', '8394002022', '9034758992')
('Aravind', 'aravind784@gmail.com', '9412085334', '8342318888')
('Test', 'test@test.xtyz', '1234456', '1233233')

# DELETE COMMAND

# 2.4
DELETE FROM phone_records WHERE name=’John’
This statement should delete the record from the dataset.

In [63]:
cur.execute("Delete from Phone_Records WHERE Name ='John'");

In [64]:
myconnection.commit()

In [65]:
# After Delete Check whether values got Deleted
cur.execute("Select*from Phone_Records");

In [66]:
# Used for loops for fetching all rows
rows=cur.fetchall()
for row in rows:
    print(row)
# In the output , the values are Deleted in the given condition

('Karthika priyadharshini', 'karthikapriya1@gmail.com', '8148642615', '6380278156')
('Aradhana', 'Aradhana25@gmail.com', '9367906789', '7809875345')
('Parimala ', 'parimala12@gmail.com', '8237569990', '8754907536')
('Pranesh', 'pranesh1895@gmail.com', '9944489573', '9786543568')
('Baladhandapani', 'bala1948@gmail.com', '8764904578', '9764285557')
('Yuvaraj', 'raj211984@gmail.com', '8629076622', '9788207652')
('Shobana', 'abc22@gmail.com', '9747734667', '7866695679')
('Roby', 'roby34@gmail.com', '9568738833', '9567833988')
('valli', 'valli009@gmail.com', '8394002022', '9034758992')
('Aravind', 'aravind784@gmail.com', '9412085334', '8342318888')
('Test', 'test@test.xtyz', '1234456', '1233233')

# ANOTHER METHOD
Using Classes & Methods ==>> Table creation and Performed CRUD opertion using def Function

In [46]:
class Phonebook_Database:
    def __init__(self):
        self.tables = {}

    def create_table(self,Phonebook_Records, columns): # Function for Create 
        self.tables[Phonebook_Records] = {'columns': columns, 'data': []}

    def insert_into(self,Phonebook_Records, values): # Function for Inserting
        table = self.tables[Phonebook_Records]
        if len(values) != len(table['columns']):
            raise ValueError('Number of values does not match the number of columns.')

        row = dict(zip(table['columns'], values))
        table['data'].append(row)

    def select_all_from(self,Phonebook_Records): # Function for reading
        table = self.tables.get(Phonebook_Records)
        if table:
            return table['data']
        else:
            raise ValueError(f"Table '{Phonebook_Records}' does not exist.")

    def update(self,Phonebook_Records, set_values, where_condition): # function for Updating
        table = self.tables.get(Phonebook_Records)
        if table:
            for row in table['data']:
                if all(row[column] == value for column, value in where_condition.items()):
                    row.update(set_values)
        else:
            raise ValueError(f"Table '{Phonebook_Records}' does not exist.")

    def delete_from(self,Phonebook_Records, where_condition): # Function for Deleting
        table = self.tables.get(Phonebook_Records)
        if table:
            table['data'] = [row for row in table['data'] if not all(row[column] == value for column, value in where_condition.items())]
        else:
            raise ValueError(f"Table '{Phonebook_Records}' does not exist.")

    def print_table(self,Phonebook_Records): # Function for displaying all records in table
        table = self.tables.get(Phonebook_Records)
        if table:
            print(f"Table: {Phonebook_Records}")
            print("Columns:", table['columns'])
            print("Data:")
            for row in table['data']:
                print(row)
        else:
            raise ValueError(f"Table '{Phonebook_Records}' does not exist.")


# Creating and inserting in table:
db = Phonebook_Database()
db.create_table('Phonebook_Records', ['Name', 'Email', 'Phone1','Phone2'])
db.insert_into('Phonebook_Records', ['Karthika priyadharshini','karthikapriya1@gmail.com',8148642615,6380278156])
db.insert_into('Phonebook_Records', ['Aradhana','Aradhana25@gmail.com',9367906789,7809875345])
db.insert_into('Phonebook_Records', ['Parimala','parimala12@gmail.com',8237569990,8754907536])
db.insert_into('Phonebook_Records', ['Pranesh','pranesh1895@gmail.com',9944489573,9786543568])
db.insert_into('Phonebook_Records', ['Baladhandapani','bala1948@gmail.com',8764904578,9764285557])
db.insert_into('Phonebook_Records', ['Yuvaraj','raj211984@gmail.com',8629076622,9788207652])
db.insert_into('Phonebook_Records', ['Shobana','abc22@gmail.com',9747734667,7866695679])
db.insert_into('Phonebook_Records', ['John','john12@gmail.com',8546890343,9123457899])
db.insert_into('Phonebook_Records', ['Roby','roby34@gmail.com',9765785767,9567833988])
db.insert_into('Phonebook_Records', ['Valli','valli009@gmail.com',8394002022,9034758992])



db.print_table('Phonebook_Records')
print("\n")

# Update Syntax
print("Updated row in Table ==>> Name : John , Column : Phone1")
db.update('Phonebook_Records', {'Email': 'smilejohn90@gmail.com'}, {'Name':'John'})
db.print_table('Phonebook_Records')

# Delete syntax
print("\n")
print("Deleted column in Table ==>> Name : Valli")
db.delete_from('Phonebook_Records', {'Name': 'Valli'})
db.print_table('Phonebook_Records')

Table: Phonebook_Records
Columns: ['Name', 'Email', 'Phone1', 'Phone2']
Data:
{'Name': 'Karthika priyadharshini', 'Email': 'karthikapriya1@gmail.com', 'Phone1': 8148642615, 'Phone2': 6380278156}
{'Name': 'Aradhana', 'Email': 'Aradhana25@gmail.com', 'Phone1': 9367906789, 'Phone2': 7809875345}
{'Name': 'Parimala', 'Email': 'parimala12@gmail.com', 'Phone1': 8237569990, 'Phone2': 8754907536}
{'Name': 'Pranesh', 'Email': 'pranesh1895@gmail.com', 'Phone1': 9944489573, 'Phone2': 9786543568}
{'Name': 'Baladhandapani', 'Email': 'bala1948@gmail.com', 'Phone1': 8764904578, 'Phone2': 9764285557}
{'Name': 'Yuvaraj', 'Email': 'raj211984@gmail.com', 'Phone1': 8629076622, 'Phone2': 9788207652}
{'Name': 'Shobana', 'Email': 'abc22@gmail.com', 'Phone1': 9747734667, 'Phone2': 7866695679}
{'Name': 'John', 'Email': 'john12@gmail.com', 'Phone1': 8546890343, 'Phone2': 9123457899}
{'Name': 'Roby', 'Email': 'roby34@gmail.com', 'Phone1': 9765785767, 'Phone2': 9567833988}
{'Name': 'Valli', 'Email': 'valli009@gmail.com', 'Phone1': 8394002022, 'Phone2': 9034758992}


Updated row in Table ==>> Name : John , Column : Phone1
Table: Phonebook_Records
Columns: ['Name', 'Email', 'Phone1', 'Phone2']
Data:
{'Name': 'Karthika priyadharshini', 'Email': 'karthikapriya1@gmail.com', 'Phone1': 8148642615, 'Phone2': 6380278156}
{'Name': 'Aradhana', 'Email': 'Aradhana25@gmail.com', 'Phone1': 9367906789, 'Phone2': 7809875345}
{'Name': 'Parimala', 'Email': 'parimala12@gmail.com', 'Phone1': 8237569990, 'Phone2': 8754907536}
{'Name': 'Pranesh', 'Email': 'pranesh1895@gmail.com', 'Phone1': 9944489573, 'Phone2': 9786543568}
{'Name': 'Baladhandapani', 'Email': 'bala1948@gmail.com', 'Phone1': 8764904578, 'Phone2': 9764285557}
{'Name': 'Yuvaraj', 'Email': 'raj211984@gmail.com', 'Phone1': 8629076622, 'Phone2': 9788207652}
{'Name': 'Shobana', 'Email': 'abc22@gmail.com', 'Phone1': 9747734667, 'Phone2': 7866695679}
{'Name': 'John', 'Email': 'smilejohn90@gmail.com', 'Phone1': 8546890343, 'Phone2': 9123457899}
{'Name': 'Roby', 'Email': 'roby34@gmail.com', 'Phone1': 9765785767, 'Phone2': 9567833988}
{'Name': 'Valli', 'Email': 'valli009@gmail.com', 'Phone1': 8394002022, 'Phone2': 9034758992}


Deleted column in Table ==>> Name : Valli
Table: Phonebook_Records
Columns: ['Name', 'Email', 'Phone1', 'Phone2']
Data:
{'Name': 'Karthika priyadharshini', 'Email': 'karthikapriya1@gmail.com', 'Phone1': 8148642615, 'Phone2': 6380278156}
{'Name': 'Aradhana', 'Email': 'Aradhana25@gmail.com', 'Phone1': 9367906789, 'Phone2': 7809875345}
{'Name': 'Parimala', 'Email': 'parimala12@gmail.com', 'Phone1': 8237569990, 'Phone2': 8754907536}
{'Name': 'Pranesh', 'Email': 'pranesh1895@gmail.com', 'Phone1': 9944489573, 'Phone2': 9786543568}
{'Name': 'Baladhandapani', 'Email': 'bala1948@gmail.com', 'Phone1': 8764904578, 'Phone2': 9764285557}
{'Name': 'Yuvaraj', 'Email': 'raj211984@gmail.com', 'Phone1': 8629076622, 'Phone2': 9788207652}
{'Name': 'Shobana', 'Email': 'abc22@gmail.com', 'Phone1': 9747734667, 'Phone2': 7866695679}
{'Name': 'John', 'Email': 'smilejohn90@gmail.com', 'Phone1': 8546890343, 'Phone2': 9123457899}
{'Name': 'Roby', 'Email': 'roby34@gmail.com', 'Phone1': 9765785767, 'Phone2': 9567833988}

In [ ]:
********************************************** END *************************************************************************